

  

  <body class="main-container">
    <mat-toolbar class="mb-0 d-flex flex-row justify-content-between fixed-top" >
      <div class="d-flex flex-row">
        <div class="d-flex flex-column justify-content-center" (click)="opened=!opened">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <div class="d-flex flex-row">
        <!-- <h1 class="mb-0 mt-2 mx-1 top-heading">Bariflo Labs</h1> -->
      </div>
      </div>
        <div class="d-flex flex-row">
          <button class="name-icon mx-3" [matMenuTriggerFor]="menu">{{(userNameProfile | uppercase).split(' ')[0][0]+(userNameProfile| uppercase).split(' ')[1][0]}}</button>
          <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item>Profile</button> -->
            <button mat-menu-item (click)="onLogout()">Logout</button>
          </mat-menu>
          
          <!-- <button class="username" [matMenuTriggerFor]="menu">{{(userNameProfile | uppercase).split(' ')[0][0]+(userNameProfile.split(' ')[0].slice(1))+' '+(userNameProfile| uppercase).split(' ')[1][0]+(userNameProfile.split(' ')[1].slice(1))}} </button>
          <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
            <button mat-menu-item (click)="onLogout1()">Logout</button>
          </mat-menu> -->
        </div>
    </mat-toolbar>


     
    <mat-sidenav-container class="nav-space" >
        <mat-sidenav mode="side" class="side-bar" [(opened)]="opened">
            <mat-nav-list class="top-space">
            
              <mat-list-item class="mt-3 ">
                <a mat-list-item href="users-check">
                  <img src="./assets/img/Vector.png" class="icon-sizing">
                  <span class="icon-text">User Notifications</span>
                </a>
              </mat-list-item>
          
              <mat-list-item class="mt-3 selected-tab">
                <a mat-list-item href="general-user-create">
                  <img src="./assets/img/person-add.png" class="icon-sizing">
                  <span class="icon-text">Create User</span>
                </a>
              </mat-list-item>
          
              <mat-list-item class="mt-3">
                <a mat-list-item href="admin-device-types">
                  <img src="./assets/img/diagram-3.png" class="icon-sizing">
                  <span class="icon-text">Device Type Create</span>
                </a>
              </mat-list-item>
            </mat-nav-list>
          </mat-sidenav>
        <mat-sidenav-content>
            <select class="primary mx-2 p-2" (change)="onSelectChange($event)">
              <option value="" selected disabled style="display:none;">Time Period</option>
              <option value="1">1 Day</option>
              <option value="7">7 Days</option>
              <option value="15">15 Days</option>
              <option value="30">30 Days</option>
              <option value="custom">Custom</option>
            </select>
            
            <!-- <button class="btn btn-outline-primary refresh mx-2" (click)="onRefresh()">Refresh</button> -->
            <button class="btn btn-primary mx-5" (click)="onBackStats()">Back</button>
            <hr>
           <div class="row">
            <div class="col-lg-6 mt-2">
                <h1>Line chart</h1>
                <mat-card>
                  <div class="d-flex flex-row justify-content-between">
                    <mat-card-header>Sensors</mat-card-header>
                    <select class="download-button primary p-2 mx-2">
                      <option value="" disabled selected style="display:none;">Download</option>
            
                      <option value="7">7 Days</option>
                         <option value="30">30 Days</option>
                         <option value="90">90 Days</option>
                      <option value="custom">Custom</option>
                      
                     </select>
                     
                   </div>
                 <mat-card-content>
                   
                    
                    <div>
                      <canvas id="lineChartOne" #lineChartOne  width="200" height="200"></canvas>
                    </div>
                  </mat-card-content>
                </mat-card>
               </div>
   
               <div class="col-lg-6 mt-2">
                <h1>Line chart</h1>
                <mat-card>
                  <div class="d-flex flex-row justify-content-between">
                    <mat-card-header>Sensors</mat-card-header>
                    <select class="download-button primary p-2 mx-2">
                      <option value="" disabled selected style="display:none;">Download</option>
            
                      <option value="7">7 Days</option>
                         <option value="30">30 Days</option>
                         <option value="90">90 Days</option>
                      <option value="custom">Custom</option>
                      
                     </select>
                     
                   </div>
                 <mat-card-content>
                    <canvas id="lineChartTwo" #lineChartTwo width="200" height="200"></canvas>
                 </mat-card-content>
                </mat-card>
               </div>


              
           </div>
           <div>
 
            <!-- <button (click)="subscribeToTopic()">Subscribe to Topic</button>
            <button (click)="unsubscribeFromTopic()">Unsubscribe from Topic</button> -->
            <!-- <button (click)="publishData()">Publish Data</button>
            <button (click)="disconnect()">Disconnect</button> -->
        
          </div>
          </mat-sidenav-content>
   
       </mat-sidenav-container>
     
   

   </body>