<mat-card class="mat-Element">

    <mat-dialog-content class="container-width">

        <div class="container-nav">

            <p class="new-User">New User Success</p>

        </div>

        <div class=" d-flex flex-column justify-content-center align-items-center mt-4">

            <img src="./assets/img/successgif.gif" alt="Bariflo" class="image-size"/>

            <h1 class="mt-3 mat-head style-note">User Created Successfully</h1>
            <div class="d-flex flex-row">
            <img src="./assets/img/mail.png" alt="Bariflo" class="image-size-mail mx-2"/>
            <p class="nameInformation">A Mail containing user details send to user's mail.</p>
        </div>
 

 

        </div>
        <div class="button-container-user">

            <button class="accept-button" (click)="onSuccess()">Close</button>



        </div>

</mat-dialog-content>

</mat-card>