<body class="main-container">
  <mat-toolbar class="mb-0 d-flex flex-row justify-content-between fixed-top" >
    <div class="d-flex flex-row">
      <div class="d-flex flex-column justify-content-center bar-div" (click)="opened=!opened">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <div class="d-flex flex-row">
      
        <!-- <button class="home-button"><h1 class="mb-0 mt-2 top-heading">Bariflo Labs</h1></button> -->
    </div>
    </div>
      <div class="d-flex flex-row">
        <button class="name-icon mx-3" [matMenuTriggerFor]="menu">{{(userNameProfile | uppercase).split(' ')[0][0]+(userNameProfile| uppercase).split(' ')[1][0]}}

        </button>
        <mat-menu #menu="matMenu">
   
          <button mat-menu-item (click)="onLogout()">Logout</button>
        </mat-menu>

      </div>
  </mat-toolbar>
 
       <mat-sidenav-container class="nav-space">
        <mat-sidenav mode="side" class="side-bar" [(opened)]="opened">
          <mat-nav-list class="top-space">
          
            <div class="lg-side">
            <mat-list-item class="mt-3">
              <a mat-list-item href="users-check">
                <img src="./assets/img/Vector.png" class="icon-sizing">
                <span class="icon-text">User Notifications</span>
              </a>
            </mat-list-item>
        
            <mat-list-item class="mt-3">
              <a mat-list-item href="general-user-create">
                <img src="./assets/img/person-add.png" class="icon-sizing">
                <span class="icon-text">Created Users</span>
              </a>
            </mat-list-item>
        
            <mat-list-item class="mt-3 selected-tab">
              <a mat-list-item href="admin-device-types">
                <img src="./assets/img/diagram-3.png" class="icon-sizing">
                <span class="icon-text">Device Type Create</span>
              </a>
            </mat-list-item>
            <mat-list-item class="mt-3 ">
              <a mat-list-item href="admin-ocr">
      
                <i class="fa-solid fa-magnifying-glass"></i>
                <span class="icon-text">OCR</span>
              </a>
            </mat-list-item>

            <mat-list-item class="mt-3 ">
              <a mat-list-item href="thermal">
                <!-- <img src="./assets/img/Vector.png" class="icon-sizing"> -->
                <i class="fa-solid fa-panorama"></i>
                <span class="icon-text">Thermal</span>
              </a>
            </mat-list-item>
      
            
            
          </div>

          <div class="sm-side">
            <div class="mt-3">
              <a href="users-check">
                <img src="./assets/img/Vector.png" class="icon-sizing">
              
              </a>
            </div>
        
            <div class="mt-3">
              <a  href="general-user-create">
                <img src="./assets/img/person-add.png" class="icon-sizing">
            
              </a>
            </div>
        
            <div class="mt-3 selected-tab">
              <a  href="admin-device-types">
                <img src="./assets/img/diagram-3.png" class="icon-sizing">
    
              </a>
            </div>

            <div class="mt-3 ">
              <a  href="admin-ocr">
      
                <i class="fa-solid fa-magnifying-glass"></i>
            
              </a>
            </div>
          </div>

          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          
            <!-- <div>
              <mat-card>   
                <mat-card-header class="types-heading">
                  Device Types
                </mat-card-header>
                <hr>
                <mat-card-content>
                    <div class="table-responsive text-nowrap">
                      <table class="table table-bordered table-striped table-hover" id="data-table">
                         <thead>
                            <tr>
                              <th>Name</th>
                              <th>Version</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                         </thead>
                         <tbody>
                             <tr *ngFor="let device of getCurrentPageData()">
                                 <td>
                                   {{device[0]}}
                                 </td>
                                 <td>
                                   {{device[1]}}
                                 </td>
                                 <td>
                                   enabled
                                 </td>
                                 <td>
                                   <button class="btn btn-warning mx-1" (click)="onEditDevice(device)" ><i class="bi bi-pencil-square" ></i></button>
                                   <button (click)="onDeleteDevice(device)" class="btn btn-danger mx-1"><i class="bi bi-trash"></i></button>
                                   <button class="btn btn-primary mx-1" (click)="onAssignedCntrls(device)" ><i class="bi bi-grid-fill"></i></button>
                                 </td>
                                 
                             </tr>
                         </tbody>
  
                      </table>
                    </div>
                </mat-card-content>
              </mat-card>
              <button class="btn btn-primary custom-button mt-1 mx-2 p-1" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
              <span class="my-5">Page {{ currentPage }} of {{ totalPages }}</span>
              <button class="btn btn-success custom-button mt-1 mx-2 p-1" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
            </div> -->
            <div class="user-designation">
              <h1 class="designation-style">Logged in as Aqua Admin</h1>
        
            </div>

            <div class="no-users text-center ">
           
                <h1 class="user-heading" >
                  Device Types

                </h1>
              
              <ng-container *ngIf="getCurrentPageData() && getCurrentPageData().length > 0; else noCountMessage">
              <h1 class="number">{{deviceCount}}</h1>
              </ng-container>

              <ng-template #noCountMessage>
          
                    <h1 class="number" >0</h1>
                
            </ng-template>
            </div>

            <div class="below-container">
            <div class="d-flex flex-row ">
            <button class="btn btn-primary pl-3 pr-3 new-button " (click)="onAddDeviceType()" >Create Device Type</button>

            </div>


              <div class="table-responsive text-nowrap  table-design table-size">
              <table class="table table-bordered table-striped table-hover table-design">
              <thead>
                <tr>
                  <th class="table-head">Sl.No</th>
                  <th class="table-head">Name</th>
                  <th class="table-head">Version</th>
                  <th class="table-head">Status</th>
                  <th class="table-head">Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="getCurrentPageData() && getCurrentPageData().length > 0; else noDataMessage">
                                                   
              <tr *ngFor="let device of getCurrentPageData(); let i = index">
                  <td class="name-style">
                    {{i+1}}
                  </td>
                  <td class="name-style">
                    {{device[0]}}
                  </td>
                  <td class="name-style">
                    {{device[1]}}
                  </td>
                  <td  class="name-style">
                    enabled
                  </td>
                  <td class="text-center">
                    <button class="btn btn-warning mx-1 all-button edit" (click)="onEditDevice(device)" >Edit</button>
                    <button (click)="onDeleteDevice(device)" class="btn btn-danger mx-1 all-button">Delete</button>
                    <button class="btn btn-primary mx-1 all-button" (click)="onAssignedCntrls(device)" >View</button>
                  </td>
                  
              </tr>
            </ng-container>
              <ng-template #noDataMessage>
                <tr>
                    <td class="center-text" colspan="5">No Device Types are available! Add one</td>
                </tr>
            </ng-template>
                
              </tbody>
            </table>
            </div>
  

            <div class="d-flex flex-row justify-content-end button-adjust">
              <button class="btn btn-primary custom-button  mt-1 mx-2 prev" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
              <span class="my-2 page-note">Page {{ currentPage }} of {{ totalPages }}</span>
              <button class="btn btn-success custom-button mt-1 mx-2" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
            </div>
          </div>
       
          
          </mat-sidenav-content>
   

    </mat-sidenav-container>
    
   </body>