<mat-card>
    
<div class="d-flex flex-row justify-content-between">
  <mat-card-title class="mx-3 my-2 heading">Edit Account Name</mat-card-title>
  <i class="bi bi-file-excel-fill cross mt-2 mx-2" (click)="onClose()"></i>
</div>
    <mat-card-content>
      <div class="d-flex flex-column">
            
        <!--   <mat-form-field appearance="outline">
               <mat-label>Account Id</mat-label>
               <input matInput formControlName="accountid">
           </mat-form-field>-->
           <div>
             <label for="account" class="label-style" >Account Name</label>
               <input class="input-style input-style:focus" id="account" type="text" [(ngModel)]="data[0]" name="editaccountname" >
             </div>
           <button class="btn btn-primary submit" (click)="onDetailsUpdate(data)">Update</button>
           <p class="error mx-2" >{{errorMsg}}</p>
     </div>
    </mat-card-content>
  
   
  </mat-card>