.container-bg{
  display:flex;
  flex-direction: column;
 
 
}
 
.sidebar {
    margin: 0;
    padding: 0;
    width: 245px;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 0px 4px 4px 0px #00000040;
 
  }
 
.name-profile-container{
  display:flex;
 
  margin-top:70px;
 
  margin-left:10px;
}
 
 
 
  .sidebar a {
   
    padding: 16px;
    text-decoration: none;
  }
 
 
  .name-anchor{
    color:#5F038B;
    font-size:20px;
    font-weight:600;
  }
 
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
 
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
 
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
 
  .logo-size{
    width: 40px;
    height: 42px;
  }
 
 
.nav-bar{
  width:100vw;
  height:50px;
  background-color: #ffffff;
  position: fixed;
 
  box-shadow: 0px 4px 4px 0px #00000040;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
 
.sidebar-content-container{
  display:flex;
 
}
.list-items-nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:300px;
  margin-right:40px;
 
}
 
.eachlist{
  list-style-type: none;
  margin-top:3px;
 
}
 
.active-item{
  background-color: #04AA6D;
  color: white;
  width:240px;
 
 
}
 
 
 
 
.each-main-item{
  display:flex;
  padding-left:20px;
  align-items: center;
}
 
.each-list:hover{
  background-color: rgb(214, 210, 210);
 
}
 
.active{
  font-weight:bold;
  font-family: "Robotic";
  color: black;
 
}
 
.bg-container-content{
  display:flex;
}
 
 
 
.bg-content-dashboard{
  display:flex;
  margin-left:270px;
  margin-top:120px;
  padding:10px;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 10px;
 
 
}
 
 
.card-weather-live{
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: white;
  margin-left:20px;
  margin-top: 120px;;
 
  width:350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;;
 
}
 
.name-heading{
  font-size:16px;
}
 
.bg-icon-image{
   background-color:#02226C;
   height: 70px;
   width: 70px;
   border-radius: 35px;;
   display:flex;
   justify-content: center;
   align-items: center;
   margin:5px;
 
 
}
 
.heading-live-weather{
  color:#106FEF;
  font-size:24px;
}
 
 
.image-icon{
  height:50px;
}
 
.each-item-weather{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:250px;
}
 
.account-details{
  margin-left:25px;
  padding:2px;
  font-weight:500;
  background-color: #dec6eb;
}
 
.details-names{
   color:#5F038B;
 
  }
 
 
  .diagnosis-details{
    margin-left:15px;
    padding:2px;
    font-weight:500;
  }
 
  .ocr-description{
    background-color:#f5e3fe;
    padding:5px;
    color:#5B0186;
    padding-top:2px;
    display:flex;
     box-shadow: 0px 4px 4px 0px #00000040;
   
 
  }
 
  .description-shrimp{
    background-color:#FFF5D2;
    padding:5px;
    margin-left:15px;
  }
 
  .description-water{
    background-color:#F5F5F5;
    padding:5px;
    color:#02226C;
    margin-left:15px;
 
  }
 
  .dropup-element{
    margin-left:70px;
 
  }
 
  .dropup-ocr-element{
    margin-left:150px;
  }
 
 
.description-consulting{
  background-color:#EDD1FB;
  padding:5px;
      color:#5B0186;
     box-shadow: 0px 4px 4px 0px #00000040;
 
 
}
 
.description-Medicine{
  background-color:#f5e3fe;
  padding:5px;
  color:#5B0186;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.content-box{
  display: flex;
  flex-direction: column;
}
.chart-container{
  width:88%;
  margin-left: 200px;
  margin-top: 20px;
}

.image-suffix{
  width: 10px;
  height: 10px;
}

.logout{
  font-size: 23px;
  color: rgb(6, 6, 73);
  margin-top: 2px;
}
.no-button{
  background-color: transparent;
  border-width: 0px;
}
.inner{
  margin-left: 20px;
  background-color: rgb(243, 191, 243);
}

.account-between{
  display: flex;
  justify-content: space-between;
}

.color{
  color: black;
}


.device-flex{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}


.name-styles{
  font-size: 15px;
}


.custom-dropdown-menu {
  width: 250px; /* Adjust the width as needed */
}

.title{
  font-weight: bold;
  font-size: 17px;
}


/* toggle.component.css */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgb(233, 71, 71);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(40, 153, 40);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.controls{
  font-size: 20px;
  font-weight: bold;
}

/* box.component.css */

.box {
  width: 150px;
  height: 150px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
}



/* slider.component.css */
.blue-slider {
  /* Customize the appearance of the slider track and thumb */
  width: 100%;
  height: 10px;
  background-color: rgb(60, 214, 60); /* Blue color */
  border: none;
  border-radius: 5px;
  outline: none;

  /* Customize the appearance of the slider thumb */
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.blue-slider::-webkit-slider-thumb {
  /* Customize the appearance of the slider thumb in Webkit browsers */
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: rgb(250, 85, 85);
  border: 2px solid #2196F3; /* Blue color */
  border-radius: 50%;
  cursor: pointer;
}


.card-inner{
  margin: 30px;
  background-color: #F5F5F5;
  padding: 10px;

}

@media screen and (max-width:768px){
  .controls{
    font-size: 13px;
    font-weight: bold;
  }
  .display-name{
    font-size: 12px;
  }
 
}