.mat-toolbar{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
body{
    background-color: rgb(225, 232, 244);
}

  .mat-sidenav-container{
    height:100%;
  }
  .mat-sidenav, .mat-sidenav-content{
    padding:16px;
  }

  .mat-sidenav{
    background-color:#ffffff;
    width:250px;
  }
 
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: #9a9c9c;
    margin: 2px 0;
    transition: 0.4s;
  }



.top-heading{
    font-size: 30px;
  }

  .name-icon{
    border-radius: 33px;
    border-width: 0px;
    background-color: #a9acb1;
    height: 40px;
    width: 40px;
    color: #41639a;
    text-align: center;
    padding: 3px;
    font-size: 15px;
    font-weight: 500;
  }

  .username{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    border-width: 0px;
  }


  .footer{
    background-color: rgb(239, 246, 249);
    height: 40px;
  }
  
  
  .copyright{
    font-size: 14px;
  
  }
  
  .year{
    font-weight: bold;
    font-size: 16px;
  }
  
  .footer-heading{
    font-size: 15px;
  
  }

  .mat-toolbar{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
body{
    background-color: #e1e8f4;
}

  .mat-sidenav-container{
    height:100%;
  }
  .mat-sidenav, .mat-sidenav-content{
    padding:16px;
  }

  .mat-sidenav{
    background-color:#ffffff;
    width:250px;
  }
  

  .icon-size{
    color: black;
  }

  .success-color{
    background-color:#f8f9fa;
    color: #6c757d;
    font-size: 16px;;
  }

  .stats-color{
    background-color: rgb(216, 96, 96);
    color: white;
    font-size: 16px;;
  }

  .name-icon{
    border-radius: 33px;
    border-width: 0px;
    background-color: #a9acb1;
    height: 40px;
    width: 40px;
    color: #41639a;
    text-align: center;
    padding: 3px;
  }

  .username{
    font-family: "Roboto";
    font-size: 18px;

  }


.footer{
  background-color: rgb(239, 246, 249);
  
}


.copyright{
  font-size: 14px;

}

.year{
  font-weight: bold;
  font-size: 16px;
}

.footer-heading{
  font-size: 15px;

}

.device-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.device-head{
  font-weight: 500;
  font-size: 18px;
}

.off-button{
  background-color: transparent;
  border-width: 0px;
  color: rgb(255, 63, 127);
  font-size: 14px;
  font-weight: bold;
}

.square{
  background-color: rgb(255, 63, 127);
  font-size: 12px;
}

.mat-toolbar{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
body{
    background-color: #e1e8f4;
}

  .mat-sidenav-container{
    height:100%;
  }
  .mat-sidenav, .mat-sidenav-content{
    padding:16px;
  }

  .mat-sidenav{
    background-color:#ffffff;
    width:250px;
  }

  .name-icon{
    border-radius: 33px;
    border-width: 0px;
    background-color: #a9acb1;
    height: 40px;
    width: 40px;
    color: #41639a;
    text-align: center;
    padding: 3px;
  }

  .username{
    font-family: "Roboto";
    font-size: 18px;

  }

  
.footer{
  background-color: rgb(239, 246, 249);
  
}


.copyright{
  font-size: 14px;

}

.year{
  font-weight: bold;
  font-size: 16px;
}

.footer-heading{
  font-size: 15px;

}


.primary{
  background-color: #0554d2;
  border-radius: 3px;
  border-width: 0px;
  color: white;

}

.refresh{
  font-weight: bold;
}

.page-height{
  min-height: 100vh;
}

.download-button{

  color: white;
  border-radius:3px;
}


.side-bar{
  background-color:#80BBF1;
  
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-width: 0px;
  width: 310px;
}

.icon-sizing{
  width: 20px;
height: 20px;
  margin-bottom: 2px;
}

.icon-text{
  font-size: 19px;
  font-weight: 500;
  margin-left:10px;
  margin-top: 10px;
}
.top-space{
  margin-top: 100px;
}

.selected-tab {
background-color: white;
border-radius: 30px 30px 30px 30px;
min-width: 100%;


}
.side-bar{
    background-color:#80BBF1;
    position: fixed;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 0px;
    width: 310px;
  }
  .icon-text{
    font-size: 19px;
    font-weight: 500;
    margin-left:10px;
    margin-top: 10px;
  }

  .heading-name{
    font-size: 5px;
    font-weight: bold;
  }

  .chart-container{
    width:95%;
  }

  .nav-space{
    margin-top: 70px;
  }
  .new-button{
    background-color:#2F88FF ;
    font-weight: bold;
    border-width: 0px;
    border-radius: 10px;
  }