
 
.container-nav{
 
    background-color:#AFDAFA;
 
    padding-top: 5px;
 
    height: 35px;
     
 
 
    }
 
 .image-logo{

    margin-right: 5px;
    height: 20px;
    width: 20px;
 }
 
.mobileForm{
    background-color: white;
    margin-left:30px;
    margin-top:20px;
}
 
 .errorColor{
    color: red;
    font-size: 16px;
    margin-left: 110px;
    margin-top: 10px;
 }
 
.container-width{
 
    margin:0px;
 
    padding:0px;
 
}
 
 
 
.mat-Element{
    padding:0px;
 
    height:450px;
    border-radius: 10px;
   
 
}
 
 
 
 
 
 
 
.name-container{
 
    display:flex;
 
}
 
 
 
.new-User{
 
    font-weight:500;
 
    color:#000000;
 
    margin-left:20px;
 
}
 
 
 
.name-user{
 
    font-weight: 500;
 
    color:#000000;
 
    font-size: 12px;
 
    width:100px;
 
   
 
 
 
}
 
 
 
 
 
.style-span{
 
    font-weight: 500;
 
    color:#000000;
 
    font-size: 12px;
 
    margin-right: 10px;
 
}
 
 
 
 
 
.accept-button{
 
   background-color: #00A31A;
 
   border-radius: 5px;;
 
   border:none;
 
   color:#ffffff;
    width: 70px;
    height: 30px;
    font-size: 14px;
 
}
 
 
 
 
 
.reject-button{
 
    background-color: #DE0C0C;
 
    border-radius: 5px;;
 
    border:none;
 
    color:#ffffff;
 
    margin-left: 10px;
 
    width: 70px;
    height: 30px;
 
}
 
.container-all-labels{
  display:flex;
  width:600px;
  flex-wrap: wrap;
  margin-bottom: 20px;;
 
}
 
 
 
 
 
.button-container-user{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
 
    margin-right:20px;
}
 
 
 
.name-value{
 
    font-size:14px;
 
}
 
.label-style{
    color: #8f9bb3;
    font-weight: 700;
    font-size: 15px;
}
 
.input-style{
    border-radius: 3px;
    border-width: 0px;
    border-style: solid;
    background-color: rgb(241, 251, 255) ;
    transition: border-color 0.3s;
    width: 300px;
    padding: 10px;
}
 
.input-style:focus{
    outline: none;
    border-color: rgba(40, 150, 218, 0.989);
    border-width: 1px;
}
 
.container-label {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: flex-end;
    margin-top: 10px;
  }
 
 
  .each-container-label{
    margin-right: 20px;
  }
 
 
.input-element {
    border: 1px solid #444444;
    width: 250px;
    height: 35px;
    margin-top: 5px;
    border-radius: 5px;
 
  }
 
  .button-bg {
  margin-bottom:10px;
   
  }
 
  .buttonElement {
    background-color: #0065EC;
    color: #fff;
    border: none;
    border-radius: 5px;
    width:100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
 
  .AddButtonElement {
    background-color:rgb(39, 188, 39);
    color: #fff;
    border: none;
    border-radius: 5px;
    width:100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
  }
 
  .button-elements-container{
  display:flex;
  }
 
 
 
  input[type=number]::-webkit-inner-spin-button {
 
    -webkit-appearance: none;
 
  }

  
.label-style{
    color: #8f9bb3;
    font-weight: 700;
    font-size: 15px;
}

.input-style{
    border-radius: 3px;
    border-width: 0px;
    border-style: solid;
    background-color: rgb(241, 251, 255) ;
    transition: border-color 0.3s;
    width: 250px;
    padding: 10px;
    margin-top: 10px;
}

.input-style:focus{
    outline: none;
    border-color: rgba(40, 150, 218, 0.989);
    border-width: 1px;
}

.account{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 40px;
}
