
.mat-toolbar{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
body{
    background-color: rgb(225, 232, 244);
}

  .mat-sidenav-container{
    height:100%;
  }
  .mat-sidenav, .mat-sidenav-content{
    padding:16px;
  }

  .mat-sidenav{
    background-color:#ffffff;
    width:250px;
  }
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: #9a9c9c;
    margin: 2px 0;
    transition: 0.4s;
  }



.top-heading{
    font-size: 30px;
  }

  .name-icon{
    border-radius: 33px;
    border-width: 0px;
    background-color: #a9acb1;
    height: 40px;
    width: 40px;
    color: #41639a;
    text-align: center;
    padding: 3px;
    font-size: 15px;
    font-weight: 500;
  }

  .username{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    border-width: 0px;
  }


  .footer{
    background-color: rgb(239, 246, 249);
    
  }
  
  
  .copyright{
    font-size: 14px;
  
  }
  
  .year{
    font-weight: bold;
    font-size: 16px;
  }
  
  .footer-heading{
    font-size: 15px;
  
  }
  .custom-button{
    border-radius: 3px;
    height: 30px;
    border-width: 0px;

  }
  
.register{
    font-size: 16px;
}
 

.registration-container {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .button-one {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .star{
    color:red;
  }

  .category-drop{
 
    border-radius: 4px;
    background-color: #007bff;
    color:white;
    border-width: 0px;
    padding: 10px 20px;
  }

  .heading{
    font-weight: bold;
  }


  .color{
    border: 2px solid rgb(204, 206, 210); /* Default border color */
    transition: border-color 0.3s;
    border-radius: 2px;
    background-color: rgb(247, 253, 255);
  }

  .color:focus{
    border-color: rgba(40, 150, 218, 0.989); /* Border color when focused */
    outline: none; 
  }

  
  
  .icon-sizing{
    width: 20px;
  height: 20px;
    margin-bottom: 2px;
  }
  
  .icon-text{
    font-size: 19px;
    font-weight: 500;
    margin-left:10px;
    margin-top: 10px;
  }

  .side-bar{
    background-color:#80BBF1;
    position: fixed;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 0px;
    width: 310px;
  }

  
  .top-space{
    margin-top: 150px;
  }

  .mat-toolbar{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }
  body{
    background-color: rgb(225, 232, 244);
  }
  
  .mat-sidenav-container{
    height:100%;
  }
  .mat-sidenav, .mat-sidenav-content{
    padding:16px;
  }
  
  .mat-sidenav{
    background-color:#ffffff;
    width:250px;
  }
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: #9a9c9c;
    margin: 2px 0;
    transition: 0.4s;
  }
  
  .name-icon{
    border-radius: 33px;
    border-width: 0px;
    background-color: #a9acb1;
    height: 40px;
    width: 40px;
    color: #41639a;
    text-align: center;
    padding: 3px;
    font-size: 15px;
    font-weight: 500;
  }
  
  .username{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    border-width: 0px;
  }
  
  
  .footer{
    background-color: rgb(239, 246, 249);
    
  }
  
  
  .copyright{
    font-size: 14px;
  
  }
  
  .year{
    font-weight: bold;
    font-size: 16px;
  }
  
  .footer-heading{
    font-size: 15px;
  
  }
  
  .custom-button{
    border-radius: 3px;
    height: 30px;
    border-width: 0px;
  
  }
  
  .home-button{
    background-color: transparent;
    border-width: 0px;
  }
  .top-heading{
    font-size: 30px;
  }
  
  .check-size{
    font-size: 25px;
  }
  
  .side-bar{
    background-color: #AFDAFA;
    
    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 0px;
    width: 310px;
  }
  
  .icon-sizing{
    width: 20px;
  height: 20px;
    margin-bottom: 2px;
  }
  
  .icon-text{
    font-size: 19px;
    font-weight: bold;
    margin-left:10px;
    margin-top: 10px;
  }
  .top-space{
    margin-top: 70px;
  }
  
  .selected-tab {
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  min-width: 100%;
  
  
  }
  
  
  .error{
  color: red;
  font-size: 15px;
  
  }
  
  /* styles.css */
  
  /* Reset some default styles for the demo */
  /* Reset some default styles */
  .label-style{
  color: #8f9bb3;
  font-weight: 700;
  font-size: 16px;
  }
  
  .input-style{
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  background-color: rgb(241, 251, 255) ;
  transition: border-color 0.3s;
  min-width: 400px;
  padding: 10px;
  height: 50px;
  }
  
  .input-style:focus{
  outline: none;
  border-color: rgba(40, 150, 218, 0.989);
  border-width: 1px;
  }
  
  
  .user-form{
  height: 700px;
  min-width:780px;
  border-radius:20px;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  margin-top: 80px;
  margin-left: 100px;
  border-color: #a0a0a0;
  margin-right:200px;
  }
  
  .top-bar{
  background-color:  #AFDAFA;
  
  height: 63px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 15px;
  
  }
  
  .heading-create{
  font-weight: bold;
  font-size: 28px;
  margin-left: 20px;
  
  }
  
  
  .photo-upload{
  width: 222px;
  height: 225px;
  
  border-radius: 5px;
  border-width: 0px;
  background-color: #FFFEDA;
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
  
  .photo-details{
  margin-right: 50px;
  margin-top: 80px;
  
  }
  
  .create-button{
  width: 122px;
  height: 46px;
  
  border-radius: 33px;
  background-color: #0040BB;
  color:white;
  margin-bottom: 70px;
  margin-left: 50px;
  }
  
  .inner-image{
  width: 112px;
  height: 114px;
  border-radius: 60px;
  border-width: 1px;
  background-color: white;
  border-color: #818283;
  border-style: solid;
  
  }
  
  .profile-pic{
  width: 75px;
  height: 88px;
  margin-left:18px;
  margin-top:15px;
  border-radius: 18px;
  }
  
  .upload-button{
  height: 35px;
  margin-top: 20px;
  margin-left: 17px;
  border-radius: 16px;
  background-color: #2F88FF;
  
  }
  
  
  .no-users{
    width: 280px;
  height: 132px;
  border-width: 0px;
  border-radius: 27px;
  box-shadow: 0px 18px 50px 2px #00000040;
  background-color: #C7D6FF;
  margin-left: 50px;
  margin-top:40px;
  box-shadow: 0px 10px 10px 2px #00000040;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .user-heading{
    font-weight: 500;
    font-size: 22px;
  
  }
  
  .number{
    font-weight: bold;
    font-size:30px;
    font-style: italic;
  }
  
  .table-design{
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    border-width:1px;
    border-style:solid;
  
  }
  
  .name-style{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
  }
  
  .change-btn{
    width: 70px;
  height: 35px;
  color:white;
  border-radius: 18px;
  border-width: 0px;
  text-align: center;
  }
  
  .custom-button{
    width: 70px;
    height: 35px;
    color:white;
    border-radius: 18px;
    border-width: 0px;
    text-align: center;
  
  }
  
  
  .prev{
    width: 85px;
  }

  .account{
    width: 120px;
  }

  .container-under{

    display:flex;

    height:100px;

    margin-top:30px;

 

}

 

 

.image-devicedashboard{

    border:1px solid #6E6F71;

    border-radius: 5px;

    height:90px;

    width:150px;

}

 

 

.device-image{

    height:90px;

 

}

 

 

 

 

 

.horzontal-line{

 min-width: 1400px;    

 margin: 0 auto; /* Center the line horizontally on the page */

border: 1px solid #000000;

}

 

.waterbody{

    font-weight: 500;

    margin-bottom:0;

 

}

 

.container-body{

    display:flex;

    flex-direction: column;

    justify-content: center;

    margin-bottom: 5px;

    margin-left:5px;

 

}

 

 

.container-under-water{

    display:flex;

    flex-direction: column;

    margin-left:5px;

}

.card-heading{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-left:35px;
    background-color: #80BBF1;
    width: 120px;
    border-radius: 20px;
    padding-left: 10px;
    height:35px;
    color:white;
  }
  
  
  .name-style{
    font-weight: 500;
    font-size: 16px;
  }
  .all-button{
    border-radius:25px;
  }
  .prev{
    width: 85px;
  }
  
  .account{
    width: 120px;
  }
  
    
  .table-design{
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    border-width:1px;
    border-style:solid;
  
  }

  .footer{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  

  .center-text{
    text-align: center;
    font-weight: 500;
    font-style: italic;
  }

  .nav-space{
    margin-top: 70px;
  }
.table-head{
  background-color:#80BBF1;
  text-align: center;
  color: white;
  font-size: 20px;
}


.sm-side{
  display: none;

 
}
.lg-side{
  display: block;
}


.table-margin{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 70px;
}

@media only screen and (max-width: 768px) {


  .bar1, .bar2, .bar3 {
    max-width: 10px;
    max-height: 1px;
    background-color: #9a9c9c;
    margin: 2px 0;
    transition: 0.4s;
    
  }

  .bar-div{
    margin-right: 5px;
    margin-top: 5px;
  }
  .top-heading{
    font-size: 20px;
    margin-top: 0px;
  
  }

  .side-bar{
    width: 55px;
  }

  .selected-tab {
    background-color: white;
    border-radius: 40px;
    text-align: center;
    }
    .icon-sizing{
      max-width: 16px;
    max-height: 16px;
      margin-bottom: 2px;
    }
    
    .icon-text{
      font-size: 10px;
      margin-left:2px;
      margin-top: 2px;
    
    }
    .sm-side{
      display: block;
    
     
    }
    .lg-side{
      display: none;
    }
    .designation-style{
      font-size: 13px;
     
    }

    .table-head{
      background-color:#80BBF1;
      text-align: center;
      color: white;
      font-size: 11px;
    }
    

.device-image{

  height:40px;



}

.container-under{



  height:30px;

  margin-top:30px;



}

.image-devicedashboard{

  border:1px solid #6E6F71;

  border-radius: 5px;

  height:40px;

  width:70px;

}


.waterbody{
font-size: 13px;



}
    
.table-margin{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px;
}
.center-text{
  font-size: 10px;
  }
  
.card-heading{
  font-size: 15px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 20px;
  margin-left:5px;
  background-color: #80BBF1;
  width: 80px;
  border-radius: 20px;
  padding-left: 10px;
  height:30px;
  color:white;
}
.designation-style{
  font-size: 13px;
 
}

.custom-button{
  width: 25px;
  height: 17px;
  color:white;
  border-radius: 5px;
  border-width: 0px;
  display: flex;
  justify-content: center;
  padding: 3px;
  font-size: 8px;

}

.prev{
  width: 35px;
}
.page-note{
  font-size: 7px;
}


.table-margin{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px;
}

.new-button{
  width: 60px;
  height: 20px;
  color:white;
  border-radius: 5px;
  border-width: 0px;
  display: flex;
  justify-content: center;
  padding: 3px;
  font-size: 10px;

}

.square {
  color: rgb(255, 63, 127);
  font-size: 8px;
}

.square-on,
.off-button:active .square-on {
  color: rgb(11, 102, 52);
  font-size: 8px;
}




.on-off{
  font-size: 9px;
  margin-left:2px;
}

.name-style{
  font-size: 10px;

}




.edit-button{
  width: 40px;
height: 20px;
color:white;
border-radius: 6px;
font-size: 9px;
display: flex;
padding-top: 2px;
justify-content: center;
margin-bottom: 2px;
}
.edit{
  color: black;
}
.account{
  width: 45px;
}


.device-head{

  font-size: 15px;
}

.button-controls{

  background-color:#2F88FF ;

  border:none;

  color: #ffffff;

  width: 60px;
  height: 20px;
 
  border-radius: 5px;
  border-width: 0px;
  display: flex;
  justify-content: center;
  padding: 3px;
  font-size: 10px;

}



.button-stats{

  background-color:#08B70F;

  border:none;

  color: #ffffff;

  width: 40px;
  height: 20px;
 
  border-radius: 5px;
  border-width: 0px;
  display: flex;
  justify-content: center;
  padding: 3px;
  font-size: 10px;





}

.buttons-arrange{
  display: flex;
  justify-content: space-between;
}

.top-buttons{
  display: flex;

}

.time-button{
  font-size: 12px;
}

.back-button{
  font-size: 12px;
}

  }